<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	lang="en-US">
<head th:fragment="header">
	<title>HFS Hefesto</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta name="mobile-web-app-capable" content="yes" />		
 	
	<link th:href="@{/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/bootstrap-5.0.1/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
		
	<script th:src="@{/popper-2.9.2/umd/popper.min.js}"></script>
	<script th:src="@{/bootstrap-5.0.1/js/bootstrap.min.js}"></script>
	
<!-- 
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" 
		integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" 
		integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script> 
 
	<link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/moment-2.29.4/jszip-3.10.1/dt-2.3.2/af-2.7.0/b-3.2.3/b-colvis-3.2.3/b-html5-3.2.3/b-print-3.2.3/cr-2.1.1/cc-1.0.4/date-1.5.5/fc-5.0.4/fh-4.0.2/kt-2.12.1/r-3.0.4/rg-1.5.1/rr-1.5.0/sc-2.4.3/sb-1.8.2/sp-2.3.3/sl-3.0.1/sr-1.4.1/datatables.min.css" 
		rel="stylesheet" integrity="sha384-ImQaQWS6yoy02B/gDUtroRLxb0XgVIHdtg1q26P3ETOfIPVx375+4r3NCR/BswCn" crossorigin="anonymous">
	 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" 
		integrity="sha384-VFQrHzqBh5qiJIU0uGU5CIW3+OWpdGGJM9LBnGbuIH2mkICcFZ7lPd/AAtI7SNf7" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js" 
		integrity="sha384-/RlQG9uf0M2vcTw3CX7fbqgbj/h8wKxw7C3zu9/GxcBPRKOEcESxaxufwRXqzq6n" crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/moment-2.29.4/jszip-3.10.1/dt-2.3.2/af-2.7.0/b-3.2.3/b-colvis-3.2.3/b-html5-3.2.3/b-print-3.2.3/cr-2.1.1/cc-1.0.4/date-1.5.5/fc-5.0.4/fh-4.0.2/kt-2.12.1/r-3.0.4/rg-1.5.1/rr-1.5.0/sc-2.4.3/sb-1.8.2/sp-2.3.3/sl-3.0.1/sr-1.4.1/datatables.min.js" 
		integrity="sha384-GKIyi9W6pFETs5KB16MI/+zHDutICFrJhzzCwRcl+I+XQr2XiFvjpM3+Ujos6R5I" crossorigin="anonymous"></script> 
-->	 
	<link th:href="@{/css/system.css}" rel="stylesheet" type="text/css" />
	
	<script th:src="@{/jquery-3.6.0/js/jquery-3.6.0.min.js}"></script>
	
	<link th:href="@{/dataTables-1.10.24/css/dataTables.bootstrap5.min.css}" rel="stylesheet" type="text/css">
	
	<script th:src="@{/dataTables-1.10.24/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/dataTables-1.10.24/js/dataTables.bootstrap5.min.js}"></script>
	
	<script th:src="@{/js/hfsframework/hfsframework-system-util.js}"></script>
  
  	<link th:href="@{/css/hfsframework-tree.css}" rel="stylesheet" type="text/css">
</head>
<body>
</body>
</html>
